.form-no-border {
    border: 0px;
}

.con-version {
    font-size: smaller;
    font-weight: lighter;
}

.con-name {
    font-weight: bold;
}

.button-add-parameter {
    margin-left: 50px;
}

.sidebar {
    background: #212121;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 0px;
    padding-left: 0px;
}

.sidebar h1 {
    display: block;
    margin-bottom: 20px;
    padding: 10px 30px;
    font-weight: 700;
    color: #fff;
    background: #3f79ed;
}
.sidebar h2 {
    display: block;
    padding: 10px 30px;
    font-weight: 500;
    color: #fff;
    background: #0f2653;
}

.sidebar ul ul a {
    margin-left: 40px;
}
.sidebar ul ul ul a {
    margin-left: 80px;
}
.sidebar a {
    color: #fff;
    font-size: 150%;
}

html, body {
    height: 100%;
}