<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" data-wname="title">Not Logged In</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Handled Requests</button>
            <button class="btn btn-sm btn-outline-secondary" data-wname="requests">0</button>
        </div>
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Virtual Memory</button>
            <button class="btn btn-sm btn-outline-secondary" data-wname="virtual-memory">0</button>
        </div>
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">RSS Memory</button>
            <button class="btn btn-sm btn-outline-secondary" data-wname="rss-memory">0</button>
        </div>
    </div>
</div>