<div class="row">
    <div class="col-md-12">
        <form action="/api/expense/extract_from_images" method="post" enctype="multipart/form-data">
            select images to upload:<br>
            <input type="file" name="file" accept="image/*" multiple><br>
            <hr>
            <input type="submit" value="upload images" name="submit"><br>
        </form>
        <br>
        <br>
        <br>
    </div>
</div>
<div class="row" id="container-sorter">

    <template data-wname="product-element">
        <li class="list-group-item" data-wname="text">bird</li>
    </template>
    <div class="col-md-4">
        <select class="form-control" id="column-1-sorter">
            <option value="0">Not assigned</option>
            <option value="1" selected>Food</option>
            <option value="2">Device</option>
        </select>
        <ul id="column-1-container" class="list-group connectedsortable" data-wname="column-1-container">
        </ul>
    </div>
    <div class="col-md-4">
        <select class="form-control" id="column-2-sorter">
            <option value="0" selected>Not assigned</option>
            <option value="1">Food</option>
            <option value="2">Device</option>
        </select>
        <ul id="column-2-container" class="list-group connectedsortable" data-wname="column-2-container">
        </ul>
    </div>
    <div class="col-md-4">
        <select class="form-control" id="column-3-sorter">
            <option value="0">Not assigned</option>
            <option value="1">Food</option>
            <option value="2" selected>Device</option>
        </select>
        <ul id="column-3-container" class="list-group connectedsortable" data-wname="column-3-container">
        </ul>
    </div>
</div>