<nav class="flex-sm-column">
    <div class="sidebar">
        <h1>Admin</h1>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/login.html">
                    <span class="fa fa-sm fa-user-circle mr-3"></span><span>Login</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/" widget-set="product/expenses" widget-target="container-main">
                    <span class="fa fa-sm fa-sort mr-3"></span><span>Expenses</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/" widget-set="product/sorter" widget-target="container-main">
                    <span class="fa fa-sm fa-sort mr-3"></span><span>Sorter</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/" widget-set="mframe/admin/execute_query" widget-target="container-main">
                    <span class="fa fa-sm fa-database mr-3"></span><span>ExecuteQuery</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/" data-wname="link-databases">
                    <span class="fa fa-sm fa-database mr-3"></span><span>Databases</span>
                </a>
            </li>
            <ul class="nav flex-column" data-wname="container-databases">
                <template data-wname="link-database">
                    <li>
                        <a data-wname="link-obj" href="#/">
                            <span class="fas fa-xs  fa-table mr-3"></span><span data-wname="link-str"></span>
                        </a>
                    </li>
                    <ul class="nav flex-column" data-wname="container-table">
                    </ul>
                </template>
            </ul>
            <ul class="nav flex-column" data-wname="container-link">
                <template data-wname="link">
                    <li>
                        <a data-wname="link-obj" widget-set="mframe/schema" widget-target="container-main" data-apiurl="-"
                            href="#/">
                            <span class="fas fa-xs  fa-table mr-3"></span><span data-wname="link-str"></span>
                        </a>
                    </li>
                </template>
            </ul>
        </ul>
    </div>
</nav>