<div class="container" style="margin-top:30px">
    <div class="form-group">
        <label for="email">Database</label>
        <input type="text" class="form-control"  data-wname="database">
    </div>
    <div class="form-group">
        <label for="pwd">Query:</label>
        <input type="text" class="form-control" value="SELECT datname FROM pg_database;" data-wname="query">
    </div>
    <button type="submit" class="btn btn-default" data-wname="submit-button">Submit</button>
</div>

<div class="container" style="margin-top:30px">
<pre data-wname="container-result"></pre>
</div>